<h1>HOME PAGE</h1>

<section>
    <p> Welcome to the Enple development environment, this is a simple webapp which uses the same framwork as our production app. At the top of this page you'll see a small NAV, containing this Home page and the Game page.
        The Game page is the page where you'll develop our new  game.
    </p>
    <br>
    <p>
        As you look through this sample code, you'll see that we're using components to create our webelements and routes to push through pages. Please use this structure to develop your app as wel.
    </p>
</section>