<script>
    let name = "Developer"
</script>

<section>
<p>Hi {name},</p>
<br>
<p>
    As you can see, you can import components easily, and show them where you want. And use vanilla Javascript as well.
</p>
<br>
<p>
    For more inforation about svelte visit: <a href="https://svelte.dev/">svelte</a>
</p>
</section>