<script>
    import {push, pop, replace, location} from 'svelte-spa-router'
</script>

<section>
    <button 
        on:click={() => push('/')}
        >HOME</button>
    <button 
        on:click={() => push('/game')}
        >GAME</button>
</section>