<script>
	import Router from "svelte-spa-router";
	import Home from "./routes/Home.svelte";
	import Game from "./routes/Game.svelte";

	import Nav from "./components/Nav.svelte";

	const routes = {
		"/": Home,
		"/game": Game
	}

</script>
<Nav></Nav>
<Router {routes}/>

